/var/
/vendor/
/bin/
/config/
/public/
/.env*
/src/Kernel.php
/symfony.lock
/tests/
/src/Controller/TestController.php
/.phpunit
/.phpunit.result.cache
/phpunit.xml
/src/Repository/
/migrations/
/src/Entity/
/phpunit.xml.dist
/.idea/
/composer.lock
/src/Test/
